.Mainmenubar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #4f99b6;
    text-align: center;
  }
  #Mainmenubar-first { border-right: solid 1px #4f99b6; }
  #Mainmenubar-second { border-left: solid 1px #4f99b6; }
  #Mainmenubar-third { border-left: solid 1px #4f99b6; }
  #Mainmenubar-fourth { border-left: solid 1px #4f99b6; }
  
  .Mains{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #e7e7e7;
    height: 1000px;
  }
  #Mains-left
  #Mains-right 
  
.acenter { 
    text-align : center; 
} 

.Write {
    padding: 10px;
    padding-left: 30px;

}

.Write div {
    margin-top: 30px;
    margin-left: 50px;
}

#patient_num {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#patient_num:focus { outline : none; }

#patient_name {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#patient_name:focus { outline : none; }

#med_name {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#med_name:focus { outline : none; }

#med_time {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#med_time:focus { outline : none; }

#post_submit {
    text-align: right;
    margin-top: 30px;
    padding-right: 60px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}

.link_tit {
    color : black;
    text-decoration: none;
  }

#post_submit {
    text-align: center;
    margin-top: 30px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}
