.Mainmenubar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #4f99b6;
    text-align: center;

  }
  #Mainmenubar-first { border : none }
  #Mainmenubar-second { border : none }
  #Mainmenubar-third { border : none }
  #Mainmenubar-fourth { border : none }
  
  .Mains{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background-color: #e7e7e7;
    height: 1000px;
  }
  #Mains-left
  #Mains-right 
  
.acenter { 
    text-align : center; 
} 

.Write {
    padding: 10px;
    padding-left: 30px;

}

.Write div {
    margin-top: 30px;
    margin-left: 50px;
}

#patient_id_board {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#patient_id_board:focus { outline : none; }

#patient_name_board {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#patient_name_board:focus { outline : none; }

#content_txt {
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 110px;
    resize: none;
    border: none;
    height: 150px;
    
}

#content_txt:focus { outline : none; }

#patient_id {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#patient_id:focus { outline : none; }

#patientname {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#patientname:focus { outline : none; }

#medName {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#medName:focus { outline : none; }

#medTime {
    width: 80px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 110px;
}

#medTime:focus { outline : none; }


#post_submit {
    text-align: center;
}

#post_submit button {
    margin-right: 100px;
    
    cursor: pointer;
}



.link_tit {
    color : black;
    text-decoration: none;
  }



#signup_title {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;

}



.Signup div {
    text-align: center;
    margin: 10px;
}

.Signup div input { padding: 3px; }

input[name=signup_id]{
    width: 300px;
    height: 30px;
    font-size: 10px;
    border: solid 1px #ababab;
    border-radius: 3px;
}
input[name=signup_password]{
    border-radius: 3px;
    width: 300px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #ababab;
}
input[name=signup_pswCheck]{
    border-radius: 3px;
    width: 300px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #ababab;
}
input[name=signup_name]{
    border-radius: 3px;
    width: 300px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #ababab;
}
input[name=signup_birthday] { 
    width: 80px;
    border-radius: 3px;
    width: 215px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #ababab;
} 
input[name=signup_sex] { width: 10px; 
    margin-left: 5px;
    width: 20px;
    height: 30px;
    font-size: 10px;
    border-radius: 3px;
    border: solid 1px #ababab;}
input[name=signup_email] { 
    border-radius: 3px;
    width: 200px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #ababab;}
select[name=signup_email_select] { 
    padding: 3px; margin-left: 5px;
    border-radius: 3px;
    font-size: 10px;
    height: 35px;

    border: solid 1px #ababab; 
}

input[name=sigunup_submit] { 
    margin-top: 30px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
input[name=signup_email_write] {
    padding: 3px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 10%;
    font-size: 10px;
    border: solid 1px #ababab; 
    border-radius: 3px;
    height: 30px;
}

.signupbtn{
    margin-top: 45px;
}


.List {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    min-height: 500px;
}

.list_tit {
    border-bottom: solid 3px #ababab;
    margin-bottom: 3px;
    
}

.listhospital_grid {
    display: grid;
    grid-template-columns: 65% 15% 20%;
    font-size: 13px;
}

.list_grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 13px;
}

.listpatient_grid {
    display: grid;
    grid-template-columns: 15% 20% 20% 23% 22%;
    font-size: 13px;
}

.list_data {
    line-height: 40px;
}

.acenter {
    text-align: center;}

.paging_div {
        margin-top: 10px;
        border-top: solid 1px #ababab;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        text-align: center;
 }
    
.paging_div div {
        padding : 15px;
        text-align: center;
}
    
.page_num {
        margin-right: 20px;
        list-style: none;
        display : inline-block;
        cursor: pointer;
}


.search_input {
    padding: 2px;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 15x;
    border: 1px solid #ababab;
    border-radius: 3px;
    width: 65%;
}

.serach_submit {
    position: absolute;
    margin-top: 14px;
    font-size:10px;
    font-weight: bold;
    cursor: pointer;
}

.not_data {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ababab;
}
.mainpadding {
    margin-top: 10px;
    margin-bottom: 10px;
}
.boardinfo{
    margin-left: 70px;
    margin-top: 10px;
}
.tableinfo{
    margin-left: 70px;
    margin-top: 10px;
    margin-left: 45px;
}
