.Mainmenubar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #4f99b6;
    text-align: center;
  }
  #Mainmenubar-first { border-right: solid 1px #4f99b6; }
  #Mainmenubar-second { border-left: solid 1px #4f99b6; }
  #Mainmenubar-third { border-left: solid 1px #4f99b6; }
  #Mainmenubar-fourth { border-left: solid 1px #4f99b6; }
  
  .Mains{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #e7e7e7;
    height: 1000px;
  }
  #Mains-left
  #Mains-right 
  
.acenter { 
    text-align : center; 
} 

.Write {
    padding: 10px;
    padding-left: 30px;

}

.Write div {
    margin-top: 30px;
    margin-left: 50px;
}

#patient_id {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#patient_id:focus { outline : none; }

#patientname {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#patientname:focus { outline : none; }

#medName {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#medName:focus { outline : none; }

#medTime {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #4f99b6;
    font-weight: bold;
}

#medTime:focus { outline : none; }

#post_submit {
    text-align: right;
    margin-top: 30px;
    padding-right: 60px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}

.link_tit {
    color : black;
    text-decoration: none;
  }

#post_submit {
    text-align: center;
    margin-top: 30px;
}

#post_submit button {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: white;
}

#signup_title {
    text-align: center;
    margin-top: 30px;
}

.Signup {
    padding: 70px 0px 0px 0%;
    display: grid;
    grid-template-columns: 50% auto;
}

.Signup div {
    text-align: center;
}

.Signup div input { padding: 3px; }

input[name=signup_birthday] { width: 80px; }
input[name=signup_sex] { width: 10px; margin-left: 5px;}
input[name=signup_email] { width : 120px }
select[name=signup_email_select] { padding: 3px; margin-left: 5px; }

input[name=sigunup_submit] { 
    margin : 13% 54% 0% 46%; 
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    border: solid 1px #ababab;
    background-color: white; 
    cursor: pointer;
    font-size: 20px;
}
input[name=signup_email_write] {
    padding: 3px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 10%;
}

#signup_section { border-left: solid 1px #ababab; }
