.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_grid {
  display: grid;
  grid-template-columns: 20% 60% 20% ;
}


.menu li {
  float:left; /* 메뉴를 가로로 만드는 부분 */
  list-style-type:none; /* 동그라미를 없앰 */
  padding-right:20px;  /* 우측에 공간을 줌 */
  text-decoration: none;
}

.link_tit {
  color : black;
  text-decoration: none;
}


.acenter { 
  text-align : center; 
  font-size: 25px;
}

.acentertitle { 
  text-align : center; 
  font-size: 25px;
  padding-left: 100px;

}

.acenter_login { 
  text-align : center; 
  text-decoration: none;
}

.acenter_login_tit { 
  text-align : center; 
  margin-top: 10px;
  border-bottom: solid 1px #ababab;
  padding-bottom : 10px
}


.btn_cursor {
  cursor : pointer;
}

.link_tit {
  color : black;
  text-decoration: none;
}

.login_tit {
  border-bottom: solid 1px #ababab;
  padding-bottom : 10px
}

.modal_tools {
  margin-top : -100px
}

.login_input_div p {
  font-weight: bold;
  margin-bottom : 8px;
}

.login_input_div input {
  width: 92%;
  padding: 4px;
  margin-top: -10px;
}

.login_div {
  text-align: left;
  padding-left: 20px;

}

.submit_div {
  display: grid;
  grid-template-columns: 40% 10% 40%;
  margin-top: 12%;
  
}

.submit_div div {
  text-align: center;
}

.submit_div div input {
  cursor: pointer;
}
 
.dropdown-toggle {
  border: 1px solid #ababab;
  background-color: #ababab;
  margin: 5px;
}


